<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>330374575087-ucv8tjce8e9uj8jv43co80m18e1ff9mg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.330374575087-ucv8tjce8e9uj8jv43co80m18e1ff9mg</string>
	<key>API_KEY</key>
	<string>AIzaSyCGPEz5S_0lMfCRRb9BGsefCXtvUEq6hqU</string>
	<key>GCM_SENDER_ID</key>
	<string>330374575087</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pradeep.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-93255</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-93255.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:330374575087:ios:2f8a4c2a3166344d</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp-93255.firebaseio.com</string>
</dict>
</plist>